body{
    background-color: #292929;
    color: #c5c5c5;
}

#Container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#Container .item{
    background-color: cornflowerblue;
    border: rebeccapurple 1px solid;
    padding: 10px;
}