body{
    background-color: #292929;
    color: #c5c5c5;
}

#Container{
    display: grid;
    /* grid-template-columns: auto auto auto auto;
    grid-template-rows: 150px 100px 50px; */

    /* grid-template: Filas / Columnas */
    /* grid-template: 1fr 2fr/ repeat(6 ,1fr); */
    /* grid-template: 1fr 2fr/ repeat(6, minmax(100px, 1fr)); */
    grid-template: 1fr 2fr/ minmax(100px, 1fr) 1fr 1fr 1fr 1fr;


    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px;
}

#Container .item{
    background-color: cornflowerblue;
    border: rebeccapurple 1px solid;
    padding: 10px;
    /* Scroll */
    /* overflow: auto; */
}

#Container .item:nth-of-type(5){
    background-color: saddlebrown;
    display: grid;
    grid-template: 2fr 1fr / 3fr 2fr 1fr;
}

#Container .item .item{
    background-color: hotpink;
    color: #292929;
}