body{
    background-color: #292929;
    color: #c5c5c5;
}

#Container{
    display: grid;
    /* grid-template-columns: auto auto auto auto;
    grid-template-rows: 150px 100px 50px; */
    grid-template: 300px 200px 100px / 400px 300px 200px 100px;
}

#Container .item{
    background-color: cornflowerblue;
    border: rebeccapurple 1px solid;
    padding: 10px;
    overflow: auto;
}

#Container .item:nth-of-type(5){
    background-color: saddlebrown;
    display: grid;
    grid-template: 75px 75px / 90px 90px 90px 90px;
}

#Container .item .item{
    background-color: hotpink;
    color: #292929;
}